{% extends 'skin.html' %}

{% block header %}
<!-- 	Welcome
<small><br>enjoy</small> -->
{% endblock %}

{% block headerHREF1 %}
/analysis/PM-AliceAndSchrodinger
{% endblock %}
{% block header1 %}
/media/games/AliceAndSchrodinger/screenCaps/ConversationDemo.png
{% endblock %}
{% block headerHREF2 %}
/analysis/PM-AliceAndSchrodinger
{% endblock %}
{% block header2 %}
/media/games/AliceAndSchrodinger/screenCaps/UnlockedConversations.png
{% endblock %}
{% block headerHREF3 %}
/analysis/PM-AliceAndSchrodinger
{% endblock %}
{% block header3 %}
/media/games/AliceAndSchrodinger/screenCaps/MainMenu.png
{% endblock %}

{% block content %}
<!-- Small boxes (Stat box) -->
<div class='row' style='margin: 0px'>
	<!-- Intro -->
	<div class='col-xs-12'>
		<div class="box box-default">
			<div class="box-header">
				<div class='col-xs-6'>
					<h3 class="box-title"><b>Alice and Schrodinger</b></h3>
				</div>
				<div class='col-xs-6'>
					<a target="_blank" href='{{ downloadFile }}'><button type="button" class="btn btn-success" style='float: right;'>Download</button></a>
				</div>
			</div>
			<div class="slimScrollDiv" style="position: relative; overflow: hidden; width:">
				<div class="box-body chat" id="chat-box" style="overflow: hidden;">
					<div id="lipsum">
						<div class='row col-xs-12'>
							<p>
								Alice and Schrodinger is a self-guided tour aimed at providing insight to the goings-on of the Quantum Nano Centre on campus at the University of Waterloo.Participants unlock information as they roam the building, learning about the building itself, the reasearch being done, and the future plans for the building.
							</p>
							<p>
								The open house for which this application was built has completed, and so the tour-portion of the application can no longer be experienced. However, the data canbe manually unlocked in the settings page, so is still viewable by the user.
							</p>
						</div>
						<div class='row col-xs-12'>
							<hr>
							<p>
								For more information and an analysis of the design/development process, or if you would like to leave any comments about the game, please view the <a href="/analysis/PM-SisyphusEscape"><big><b>Alice and Schrodinger Post Mortem</b></big></a>.
							</p>
						</div>
						<div class='row col-xs-12'>
							<hr>
							<h5><b>Controls</b></h5>
							<p>
								Everything is touch-based through UI components.
							</p>
							<h5><b>Supported Devices</b></h5>
							<p>
								This app is built for <b>Android</b> devices (2.3.3 and up) that have NFC and iBeacon capabilities. Unfortunately, we were unable to use iPhone's NFC chip readers.
							</p>
							<h5><b>Software Used</b></h5>
							<ul>
								<li><b>Game Engine:</b> Unity 5</li>
								<li><b>Languages:</b> C#, Java, XML</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
</script>

{% endblock %}