{% extends 'skin.html' %}

{% block header %}
<!-- 	Welcome
<small><br>enjoy</small> -->
{% endblock %}

{% block header1 %}
/media/games/SisyphusEscape/screenCaps/surrounded_c.png
{% endblock %}
{% block header2 %}
/media/games/SisyphusEscape/screenCaps/SisyphusEscape.png
{% endblock %}
{% block header3 %}
/media/games/SisyphusEscape/screenCaps/hiding_c.png
{% endblock %}

{% block content %}
<!-- Small boxes (Stat box) -->
<div class='row' style='margin: 0px'>
	<!-- Intro -->
	<div class='col-xs-12'>
		<div class="box box-default">
			<div class="box-header">
				<div class='col-xs-6'>
					<h3 class="box-title"><b>The Escape of Sisyphus</b></h3>
				</div>
				<div class='col-xs-6'>
					<a target="_blank" href='{{ downloadFile }}'><button type="button" class="btn btn-success" style='float: right;'>Download</button></a>
				</div>
			</div>
			<div class="slimScrollDiv" style="position: relative; overflow: hidden; width:">
				<div class="box-body chat" id="chat-box" style="overflow: hidden;">
					<div id="lipsum">
						<div class='row col-xs-12'>
							<p>
								Sisyphus is tired of endlessly pushing the boulder up the hill for eternity and has decided to escape! Help him avoid the guards sent to find him as he strives for freedom from never ending monotony. Get to the top portal to move on to the next level
							</p>
							<p>
								As you go from level to level, more guards join the search to capture Sisyphus and force him back to work. As the number of guards increases, as does the number of hiding spots (tree stumps and boulders). The guards can only see a certain distance, and getting spotted or touching a guard will cause you to be captured, so be careful when you jump and get in.out of a hiding spot! Also, pay attention to how the guards move along their platforms - you may be able to discern some predicatable patterns and time your escapes accordingly!
							</p>
						</div>
						<div class='row col-xs-12'>
							<hr>
							<p>
								For more information and an analysis of the design/development process, or if you would like to leave any comments about the game, please view the <a href="/analysis/PM-SisyphusEscape"><b>Escape of Sisyphus Post Mortem</b></a>.
							</p>
						</div>
						<div class='row col-xs-12'>
							<hr>
							<h5><b>Controls</b></h5>
							<p>
								A keyboard is required to play this game, all controls are given in-game.
							</p>
							<h5><b>Supported Devices</b></h5>
							<p>
								This game is built for Windows computers, most should be able to run it. However, if you make it at higher levels it will likely start to run slower as the settings have not been optimized.
							</p>
							<h5><b>Software Used</b></h5>
							<ul>
								<li><b>Game Engine:</b> Unity 4</li>
								<li><b>Language:</b> C#</li>
								<li><b>Photo Editing:</b> Gimp</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
</script>

{% endblock %}