{% extends 'skin.html' %}

{% block header %}
<!-- 	Welcome
<small><br>enjoy</small> -->
{% endblock %}

{% block header-image %}
<div id="bannerLeft" style="height: 300px; padding: 0px;">
	<img class="col-xs-4" src="/media/games/SisyphusEscape/screenCaps/surrounded_c.png" style="padding: 0px; height: 100%;"/>
	<img class="col-xs-4" src="/media/games/SisyphusEscape/screenCaps/SisyphusEscape.png" style="padding: 0px; height: 100%;"/>
	<img class="col-xs-4" src="/media/games/SisyphusEscape/screenCaps/hiding_c.png" style="padding: 0px; height: 100%;"/>
</div>
{% endblock %}

{% block content %}
<!-- Small boxes (Stat box) -->
<div class='row' style='margin: 0px'>
	<!-- Intro -->
	<div class='col-lg-6' style='padding-left: 0px'>
		<div class="box box-default">
			<div class="box-header">
				<h3 class="box-title"><b>The Escape of Sisyphus</b></h3>
			</div>
			<div class="slimScrollDiv" style="position: relative; overflow: hidden; width:">
				<div class="box-body chat" id="chat-box" style="overflow: hidden;">
					<div id="lipsum">
						<p>
							Sisyphus is tired of endlessly pushing the boulder up the hill for eternity and has decided to escape! Help him avoid the guards sent to find him as he strives for freedom from never ending monotony. Get to the top portal to move on to the next level, but be careful - as the level increases, so does the number of guards that have joined the search!
						</p>
						<p>
							For more information and an analysis of the design/development process, please view the <a href="/analysis/PM-SisyphusEscape"><b>Escape of Sisyphus Post Mortem</b></a>.
						</p>
						<hr>
						<h5><b>Controls</b></h5>
						<p>
							A keyboard is required to play this game, all controls are given in-game.
						</p>
						<h5><b>Supported Devices</b></h5>
						<p>
							This game is built for Windows computers, most should be able to run it. However, if you make it at higher levels it will likely start to run slower as the settings have not been optimized.
						</p>
						<h5><b>Software Used</b></h5>
						<ul>
							<li><b>Game Engine:</b> Unity 4</li>
							<li><b>Language:</b> C#</li>
							<li><b>Photo Editing:</b> Gimp</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
</script>

{% endblock %}