{% extends 'skin.html' %}

{% block content %}
<!-- Small boxes (Stat box) -->
<div class='row' style='margin: 0px;'>
	<!-- Games -->

	<!-- Intro -->
	<div class='col-xs-12'>
		<div class="box box-default">
			<div class="slimScrollDiv" style="position: relative; overflow: hidden; width:">
				<div class="box-header">
					<i class="fa fa-info"></i>
					<h3 class="box-title"><strong>Error: 404</strong></h3>
				</div>
				<div class="box-body chat" id="chat-box" style="overflow: hidden;">
					<div id="lipsum" class='col-xs-12'>
						<p>
							The Page you are looking for could not be found.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}