{% extends 'skin.html' %}

{% block header %}
<!-- 	Welcome
<small><br>enjoy</small> -->
{% endblock %}

{% block header-image %}
<div id="bannerLeft" style="height: 300px; padding: 0px;">
  <img class="col-xs-4" src="/media/games/SkyPirates/screenCaps/SkyPirates.png" style="padding: 0px; height: 100%"/>
	<img class="col-xs-4" src="/media/games/SisyphusEscape/screenCaps/SisyphusEscape.png" style="padding: 0px; height: 100%"/>
	<img class="col-xs-4" src="/media/games/QuantumCats/screenCaps/QuantumCats.png" style="padding: 0px; height: 100%"/>
</div>
{% endblock %}

{% block content %}
<style>
	.list__item
	{
		width: 50%;
	}
</style>
<!-- Small boxes (Stat box) -->
<div class='row' style='margin: 0px'>
	<!-- Intro -->
	<div class='col-lg-12' style='padding-left: 0px'>
		<div class="box box-default">
			<div class="slimScrollDiv" style="position: relative; overflow: hidden; width:">
				<div class="box-body chat" id="chat-box" style="overflow: hidden; padding-top: 10px">
					<p>
						Below are the various analysis I've written that discuss all things games. They are split into series, and stand-alone analysis. Series will discuss a particular topic from a wide range of angles and may reference outside analysis within the series, for example Post Mortem will discuss the process and end result of each game I have helped develop. Stand-alone analysis will cover a single topic from a specific angle without reference to any other analysis. 
					</p>
					<p>
						Each analysis page has the option for viewers to <b>leave comments</b>, so I would appreciate any constructive criticism that can be offered, along with any comments to help improve my analysis in the future.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- game links -->
<div class='row' style='margin: 0px'>
	<!-- Intro -->
	<div class='col-lg-12' style='padding-left: 0px'>
		<div class="box box-default">
			<!-- <div class="box-header">
				<i class="fa fa-info-circle"></i>
				<h3 class="box-title">Analysis</h3>
			</div> -->
			<div class="slimScrollDiv" style="position: relative; overflow: hidden;">
				<div class="box-body chat" id="chat-box" style="overflow: hidden;">
					<div class='row' style='padding: 0px;'>
						<ul class="list" style="padding-left: 10px; padding-right: 10px">
						{% for a in analysis %}
							<li class="list__item">
								<a class="list__item__inner" href="/analysis/{{ a.htmlFile }}" style="color: inherit">
									<figure>
										<img src="/media/analysis/headerPhotos/{{ a.htmlFile }}.png" alt="">
											<figcaption>
												<strong>{{ a.title }}</strong><br> {{ a.description }} 
											</figcaption>
									</figure>
								</a>
							</li>
						{% endfor %}
						</ul>
					</div>
					{% if analysis %}
						<hr>
					{% endif %}
					<div class='row' style='padding: 0px'>
						<ul class="list" style="padding-left: 10px; padding-right: 10px">
						{% for k, v in seriesDict.iteritems %}
							<li class="list__item">
								<div class="list__item__inner">
									<a href="/analysis/series/{{ k.url }}" style="color: inherit">
										<figcaption>
											<h3 style="margin: 0px;"><strong>{{ k.title }}</strong></h3>
											<p>{{ k.description }}</p>
											<hr>
											<ul class="list" style="padding-left: 10px; padding-right: 10px">
											{% for analysis in v %}
												<li class="list__item" style="width: 50%">
													<a class="list__item__inner" href="/analysis/{{ analysis.htmlFile }}" style="color: inherit">
														<figure>
															<img src="/media/analysis/headerPhotos/{{ analysis.htmlFile }}.png" alt="">
																<figcaption>
																	<strong>{{ analysis.title }}</strong><br> {{ analysis.description }} 
																</figcaption>
														</figure>
													</a>
												</li>
											{% endfor %}
											</ul>
										</figcaption>
									</a>
								</div>
							</li>
						{% endfor %}
						</ul>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}