{% extends 'skin.html' %}

{% block header %}
<!-- 	Welcome
<small><br>enjoy</small> -->
{% endblock %}

{% block style %}

body {margin-top: 0px;margin-left: 0px;}

.ft0{font: 1px 'Arial';line-height: 1px;}
.ft1{font: 23px 'Arial';line-height: 26px;}
.ft2{font: 16px 'Arial';line-height: 18px;}
.ft3{font: 19px 'Arial';line-height: 22px;}
.ft4{font: 15px 'Arial';line-height: 17px;}
.ft5{font: 16px 'Arial';line-height: 17px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p1{text-align: right;padding-right: 250px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p2{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p3{text-align: left;margin-top: 19px;margin-bottom: 0px;}
.p4{text-align: justify;padding-left: 39px;margin-top: 4px;margin-bottom: 0px;}
.p5{text-align: justify;padding-left: 39px;margin-top: 0px;margin-bottom: 0px;}
.p6{text-align: left;margin-top: 20px;margin-bottom: 0px;}
.p7{text-align: left;margin-top: 12px;margin-bottom: 0px;}
.p8{text-align: justify;padding-left: 39px;margin-top: 15px;margin-bottom: 0px;}
.p9{text-align: justify;padding-left: 39px;margin-top: 1px;margin-bottom: 0px;}
.p10{text-align: left;margin-top: 18px;margin-bottom: 0px;}
.p11{text-align: justify;padding-left: 39px;margin-top: 11px;margin-bottom: 0px;}
.p12{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p13{text-align: justify;padding-left: 39px;margin-top: 17px;margin-bottom: 0px;}
.p14{text-align: left;margin-top: 13px;margin-bottom: 0px;}
.p15{text-align: justify;padding-left: 39px;margin-top: 5px;margin-bottom: 0px;}
.p16{text-align: left;margin-top: 14px;margin-bottom: 0px;}
.p17{text-align: left;margin-top: 16px;margin-bottom: 0px;}
.p18{text-align: left;margin-top: 11px;margin-bottom: 0px;}
.p19{text-align: left;margin-top: 5px;margin-bottom: 0px;}
.p20{text-align: left;margin-top: 25px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 248px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 377px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 457px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 150px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 448px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 148px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 447px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 152px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 443px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 153px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 461px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 149px;vertical-align: bottom;}

.tr0{height: 28px;}
.tr1{height: 34px;}
.tr2{height: 20px;}
.tr3{height: 22px;}
.tr4{height: 18px;}
.tr5{height: 21px;}

.t0{width: 625px;margin-left: 8px;font: 16px 'Arial';}
.t1{width: 607px;margin-left: 8px;margin-top: 13px;font: 16px 'Arial';}
.t2{width: 596px;margin-left: 8px;margin-top: 13px;font: 16px 'Arial';}
.t3{width: 599px;margin-left: 8px;margin-top: 10px;font: 15px 'Arial';}
.t4{width: 596px;margin-left: 8px;margin-top: 10px;font: 15px 'Arial';}
.t5{width: 610px;margin-top: 8px;font: 16px 'Arial';}

{% endblock %}

{% block content %}
	<div class='col-lg-12'>
		<div class="box box-default">
			<div class="box-header">
				<!-- <i class="fa fa-info-circle"></i> -->
				<!-- <h3 class="box-title">Bio</h3> -->
			</div>
			<div class="slimScrollDiv" style="position: relative; overflow: hidden; width:">
				<div class="box-body chat" id="chat-box" style="overflow: hidden;">
					<!-- first column -->
					<div class='col-lg-6' style="padding-left: 100px">
						<!-- contact info -->
						<TABLE cellpadding=0 cellspacing=0 class="t0">
							<TR>
								<TD class="tr0 td0"><P class="p0 ft0">&nbsp;</P></TD>
								<TD class="tr0 td1"><P class="p1 ft1">Jagger Nast</P></TD>
							</TR>
							<TR>
								<TD class="tr1 td0"><P class="p0 ft2">300 Regina St. N.</P></TD>
								<TD class="tr1 td1"><P class="p2 ft2">jagger.nast@gmail.com</P></TD>
							</TR>
							<TR>
								<TD class="tr2 td0"><P class="p0 ft2">Waterloo, Ont.</P></TD>
								<TD class="tr2 td1"><P class="p2 ft2">https://github.com/jcnast</P></TD>
							</TR>
							<TR>
								<TD class="tr3 td0"><P class="p0 ft2">N2J 3B8</P></TD>
								<TD class="tr3 td1"><P class="p2 ft2"><NOBR>519-588-3988</NOBR></P></TD>
							</TR>
						</TABLE>

						<!-- skills -->
						<P class="p3 ft3"><b>Skills</b></P>
						<P class="p4 ft2">Languages: C, C++, C#, Python, Javascript, SQL, CSS, HTML5, R</P>
						<P class="p5 ft2">Libraries: Django, JQuery, Bootstrap, Android SDK</P>
						<P class="p5 ft2">Software: git, Unity 3D, MySQL, SQLite3, Eclipse</P>
						<P class="p5 ft2">Creative, strong problem solver, excellent communication skills</P>

						<!-- work experience -->
						<P class="p6 ft3"><b>Work Experience</b></P>
							<!-- gave dev co-op -->
							<P class="p7 ft2"><b>Game Developer</b> <NOBR>(Co-op)</NOBR></P>
							<TABLE cellpadding=0 cellspacing=0 class="t1">
								<TR>
									<TD class="tr4 td2"><P class="p0 ft2">The Games Institute (University of Waterloo)</P></TD>
									<TD class="tr4 td3"><P class="p0 ft2">May 2015 - Aug 2015</P></TD>
								</TR>
							</TABLE>
							<P class="p8 ft2">Developed and released Quantum Cats mobile game</P>
							<P class="p5 ft2">Led development on Alice and Schrodinger mobile <NOBR>self-guided</NOBR> tour</P>
							<P class="p5 ft2">Incorporated <NOBR>play-test</NOBR> feedback</P>
							<P class="p5 ft2">Prototyped and tested multiple <NOBR>game-play</NOBR> loops and mechanics</P>
							<P class="p5 ft2">Followed an agile development paradigm</P>
							<P class="p9 ft2">Led and participated in regular scrums</P>
							<P class="p5 ft2">Performed several iterations over <NOBR>game-play</NOBR> mechanics</P>
							<P class="p5 ft2">Released nal product ahead of schedule</P>
							<P class="p5 ft2">Created interesting and rewarding <NOBR>game-play</NOBR> loop</P>
							<P class="p5 ft2">Quantum Cats recieved over 5000 downloads</P>
							<P class="p9 ft2">Integrated NFC and iBeacon functionality into mobile app</P>
							<P class="p5 ft2">Learned and produced game in C# in less than 4 months</P>
							<P class="p5 ft2">Contributed to all aspects of nal product</P>
							<!-- web dev co-op -->
							<P class="p10 ft2"><b>Web Developer</b> <NOBR>(Co-op)</NOBR></P>
							<TABLE cellpadding=0 cellspacing=0 class="t2">
								<TR>
									<TD class="tr4 td4"><P class="p0 ft2">Science Computing (University of Waterloo)</P></TD>
									<TD class="tr4 td5"><P class="p0 ft2">July 2014 - Dec 2014</P></TD>
								</TR>
							</TABLE>
							<P class="p11 ft2">Primary developer for online test creation and evaluation suite</P>
							<P class="p5 ft2">Test Management suite now in use by several faculties on campus</P>
							<P class="p9 ft2">Designed and implemented project framework</P>
							<P class="p5 ft2">Incorporated independent authentication service</P>
							<P class="p5 ft2">Implemented prototype test results and feedback</P>
							<P class="p5 ft2">Presented development process to invested parties</P>
							<P class="p5 ft2">Advised supervisors on future design directions</P>
							<P class="p9 ft2">Created developer tools for database management</P>
							<P class="p5 ft2"><NOBR>Self-taught</NOBR> and produced results in Django, Javascript, SQL in less than 4 months</P>
					</div>
					<!-- second column -->
					<div class='col-lg-6' style="padding-left: 100px; padding-bottom: 50px;">
							<!-- content dev co-op -->
							<P class="p10 ft2"><b>Content Developer</b> <NOBR>Co-op</NOBR></P>
							<TABLE cellpadding=0 cellspacing=0 class="t3">
								<TR>
									<TD class="tr4 td6"><P class="p0 ft2">Math Faculty Computing Facility</P></TD>
									<TD class="tr4 td7"><P class="p0 ft4">Sept 2014 - Dec 2014</P></TD>
								</TR>
							</TABLE>
							<P class="p13 ft2">Exposed previously unknown functionality of code base to supervisors</P>
							<P class="p5 ft2">Participated and led weekly scrums</P>
							<P class="p5 ft2">Created varied tests to target speci c areas of knowledge</P>
							<P class="p5 ft2">Developed content for Maple TA student <NOBR>self-directed</NOBR> study service</P>
							<P class="p5 ft5">Provided feedback to supervisors regarding content presentation</P>
							<P class="p5 ft2">Incorporated test feedback</P>
							<!-- volleyball coach -->
							<P class="p14 ft2"><b>Volleyball Coach<b/></P>
							<TABLE cellpadding=0 cellspacing=0 class="t4">
								<TR>
									<TD class="tr4 td8"><P class="p0 ft2">Ottawa Fusion Volleyball Club</P></TD>
									<TD class="tr4 td9"><P class="p0 ft4">Sept 2008 - May 2011</P></TD>
								</TR>
							</TABLE>
							<P class="p15 ft2">Coached ages 8 to 15 in volleyball fundamentals</P>
							<P class="p5 ft2">Shared fundamental concepts such that they were understood by all</P>
							<P class="p5 ft2">Worked with athletes on an individual basis to ensure understanding</P>
							<P class="p5 ft5">Taught fellow coaches best practices</P>
							<P class="p5 ft2">Won coach of the year on several occasions</P>
							<P class="p5 ft2">Assisted athletes in overcoming weaknesses</P>

						<!-- education -->
						<P class="p16 ft3"><b>Education</b></P>
						<TABLE cellpadding=0 cellspacing=0 class="t5">
							<TR>
								<TD class="tr2 td10"><P class="p0 ft2">Bachelor Degree: Honours Applied Mathematics</P></TD>
								<TD class="tr2 td11"><P class="p0 ft4">Sept 2011 - May 2016</P></TD>
							</TR>
							<TR>
								<TD class="tr5 td10"><P class="p0 ft2">University of Waterloo</P></TD>
								<TD class="tr5 td11"><P class="p0 ft0">&nbsp;</P></TD>
							</TR>
						</TABLE>
						<P class="p17 ft2"><b>Relevant Courses</b></P>
						<P class="p4 ft2">Object Oriented Programming and Design Patterns</P>
						<P class="p5 ft2">Database Design and Application</P>
						<P class="p5 ft5">Memory management and Programming Best Practices</P>
						<P class="p5 ft2"><NOBR>Low-level</NOBR> Functionality of Computers and Stability Concerns</P>

						<!-- interests -->
						<P class="p7 ft3"><b>Interests</b></P>
							<!-- projects -->
							<P class="p18 ft2"><b>Projects</b></P>
							<P class="p19 ft2">Source code available at https://github.com/jcnast</P>
							<P class="p4 ft2">Dungeon Crawl clone written in C++</P>
							<P class="p5 ft2">Endless vertical scroller with complete AI</P>
							<P class="p5 ft2">Turn based tactical 2D army command game</P>
							<P class="p5 ft5">Multiplayer <NOBR>co-operative</NOBR> bullet hell</P>
							<P class="p5 ft2">Modelling of interpersonal relationships of a population using Unity 3D and SQL</P>
							<P class="p5 ft2">Django web application for musicians to share music with fans</P>
							<!-- hobbies -->
							<P class="p20 ft2"><b>Hobbies</b></P>
							<P class="p15 ft2">Gaming of all sorts</P>
							<P class="p5 ft2">Personal improvement ( tness, <NOBR>self-eduction)</NOBR></P>
							<P class="p5 ft5">Volleyball (varsity)</P>
							<P class="p5 ft2">Incorporating technology to make life more e cient</P>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}