{% extends 'skin.html' %}

{% block style %}
.resumeList{
	font-size: 16px;
	clear: left;
}
{% endblock %}

{% block content %}
	<div class='col-lg-12'>
		<div class="box box-default" style='padding: 0px;'>
			<div class="box-header" style='padding: 0px;'>
				<!-- <i class="fa fa-info-circle"></i> -->
				<!-- <h3 class="box-title">Bio</h3> -->
			</div>
			<div class="box-body chat" style="position: relative; overflow: hidden; padding: 0px; padding-bottom: 20px;">
				<!-- first column -->
				<div class='col-xs-12 col-lg-6'>
					<!-- contact info -->
					<h2 style='text-align: center;'>Jagger Nast</h2>
					<table class="col-xs-12">
						<tr>
							<td style='text-align: left;'><p>300 Regina St. N.</p></td>
							<td style='text-align: right;'><p>jagger.nast@gmail.com</p></td>
						</tr>
						<tr>
							<td style='text-align: left;'><p>Waterloo, Ont.</p></td>
							<td style='text-align: right;'><p>https://github.com/jcnast</p></td>
						</tr>
						<tr>
							<td style='text-align: left;'><p>N2J 3B8</p></td>
							<td style='text-align: right;'><p>519-588-3988</p></td>
						</tr>
					</table>

					<!-- skills -->
					<h4><b><big>Skills</big></b></h4>
					<ul style="list-style-type: none;">
						<li class='resumeList'><b>Languages:</b> C, C++, C#, python, Javascript, SQL, CSS, HTML5, R</li>
						<li class='resumeList'><b>Libraries:</b> Django, JQuery, Bootstrap, Android SDK</li>
						<li class='resumeList'><b>Software:</b> git, Unity 3D, MySQL, SQLite3, Eclipse</li>
						<li class='resumeList'>Creative, strong problem solver, excellent communication skills</li>
					</ul>

					<!-- work experience -->
					<h4><b><big>Work Experience</big></b></h4>
					<!-- gave dev co-op -->
					<h4><b>Game Developer</b> (Co-op)</h4>
					<table class="col-xs-12">
						<tr>
							<td style='text-align: left;'><p>The Games Institute (University of Waterloo)</p></td>
							<td style='text-align: right;'><p>May 2015 - Aug 2015</p></td>
						</tr>
					</table>
					<ul style='list-style-type: none;'>
						<li class='resumeList'>Developed and released Quantum Cats mobile game</li>
						<li class='resumeList'>Led development on Alice and Schrodinger mobile self-guided tour</li>
						<li class='resumeList'>Incorporated play-test feedback</li>
						<li class='resumeList'>Prototyped and tested multiple game-play loops and mechanics</li>
						<li class='resumeList'>Followed an agile development paradigm</li>
						<li class='resumeList'>Led and participated in regular scrums</li>
						<li class='resumeList'>Performed several iterations over game-play mechanics</li>
						<li class='resumeList'>Released all product ahead of schedule</li>
						<li class='resumeList'>Created interesting and rewarding game-play loop</li>
						<li class='resumeList'>Quantum Cats received over 5000 downloads</li>
						<li class='resumeList'>Integrated NFC and iBeacon functionality into mobile app</li>
						<li class='resumeList'>Learned and produced game in C# in less than 4 months</li>
						<li class='resumeList'>Contributed to all aspects of all product</li>
					</ul>
					<!-- web dev co-op -->
					<h4><b>Web Developer</b> (Co-op)</h3>
					<table class="col-xs-12">
						<tr>
							<td style='text-align: left;'><p>Science Computing (University of Waterloo)</p></td>
							<td style='text-align: right;'><p>July 2014 - Dec 2014</p></td>
						</tr>
					</table>
					<ul style='list-style-type: none;'>
						<li class='resumeList'>Primary developer for online test creation and evaluation suite</li>
						<li class='resumeList'>Test Management suite now in use by several faculties on campus</li>
						<li class='resumeList'>Designed and implemented project framework</li>
						<li class='resumeList'>Incorporated independent authentication service</li>
						<li class='resumeList'>Implemented prototype test results and feedback</li>
						<li class='resumeList'>Presented development process to invested parties</li>
						<li class='resumeList'>Advised supervisors on future design directions</li>
						<li class='resumeList'>Created developer tools for database management</li>
						<li class='resumeList'>Self-taught and produced results in Django, Javascript, SQL in less than 4 months</li>
					</ul>
				</div>
				<!-- second column -->
				<div class='col-xs-12 col-lg-6'>
					<!-- content dev co-op -->
					<h4><b>Content Developer</b> (Co-op)</h4>
					<table class="col-xs-12">
						<tr>
							<td style='text-align: left;'><p>Math Faculty Computing Facility</p></td>
							<td style='text-align: right;'><p>Sept 2014 - Dec 2014</p></td>
						</tr>
					</table>
					<ul style='list-style-type: none;'>
						<li class='resumeList'>Exposed previously unknown functionality of code base to supervisors</li>
						<li class='resumeList'>Participated and led weekly scrums</li>
						<li class='resumeList'>Created varied tests to target speci c areas of knowledge</li>
						<li class='resumeList'>Developed content for Maple TA student self-directed study service</li>
						<li class='resumeList'>Provided feedback to supervisors regarding content presentation</li>
						<li class='resumeList'>Incorporated test feedback</li>
					</ul>
					<!-- volleyball coach -->
					<h4><b>Volleyball Coach</b></h4>
					<table class="col-xs-12">
						<tr>
							<td style='text-align: left;'><p>Ottawa Fusion Volleyball Club</p></td>
							<td style='text-align: right;'><p>Sept 2008 - May 2011</p></td>
						</tr>
					</table>
					<ul style='list-style-type: none;'>
						<li class='resumeList'>Coached ages 8 to 15 in volleyball fundamentals</li>
						<li class='resumeList'>Shared fundamental concepts such that they were understood by all</li>
						<li class='resumeList'>Worked with athletes on an individual basis to ensure understanding</li>
						<li class='resumeList'>Taught fellow coaches best practices</li>
						<li class='resumeList'>Won coach of the year on several occasions</li>
						<li class='resumeList'>Assisted athletes in overcoming weaknesses</li>
					</ul>

					<!-- education -->
					<h4><b><big>Education</big></b></h4>
					<table class="col-xs-12">
						<tr>
							<td style='text-align: left;'><p>Bachelor Degree: <b>Honours Applied Mathematics</b></p></td>
							<td style='text-align: right;'><p>Sept 2011 - May 2016</p></td>
						</tr>
						<tr>
							<td style='text-align: left;'><p>University of Waterloo</p></td>
							<td style='text-align: right;'><p>&nbsp;</p></td>
						</tr>
					</table>
					<h4><b>Relevant Courses</b></h4>
					<ul style='list-style-type: none;'>
						<li class='resumeList'>Object Oriented programming and Design patterns</li>
						<li class='resumeList'>Database Design and Application</li>
						<li class='resumeList'>Memory management and programming Best practices</li>
						<li class='resumeList'>Low-level Functionality of Computers and Stability Concerns</li>
					</ul>

					<!-- interests -->
					<h4><b><big>Interests</big></b></h4>
					<!-- projects -->
					<h4><b>projects</b></h4>
					<p style='font-size: 16px;'>Source code available at https://github.com/jcnast</p>
					<ul style='list-style-type: none;'>
						<li class='resumeList'>Dungeon Crawl clone written in C++</li>
						<li class='resumeList'>Endless vertical scroller with complete AI</li>
						<li class='resumeList'>Turn based tactical 2D army command game</li>
						<li class='resumeList'>Multiplayer co-operative bullet hell</li>
						<li class='resumeList'>Modeling of interpersonal relationships of a population using Unity 3D and SQL</li>
						<li class='resumeList'>Django web application for musicians to share music with fans</li>
					</ul>
					<!-- hobbies -->
					<h4><b>Hobbies</b></h4>
					<ul style='list-style-type: none;'>
						<li class='resumeList'>Gaming of all sorts</li>
						<li class='resumeList'>Personal improvement, fitness, self-eduction)</li>
						<li class='resumeList'>Volleyball (varsity)</li>
						<li class='resumeList'>Incorporating technology to make life more efficient</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
<script>
// make adjust ul elements
window.onload = function() {
	if(curWidth < 400){
		$('ul').css("padding", '5px');
		$('ul').css('list-style-type', 'inherit');
	}else if(curWidth < 650){
		// $('ul').css("padding", '0px');
		$('ul').css('list-style-type', 'inherit');
	}
};
</script>
{% endblock %}
