{% extends 'analysis/AnalysisSkin.html' %}

{% block headerHREF1 %}
http://www.majorleaguegaming.com
{% endblock %}
{% block header1 %}
/media/analysis/headerPhotos/ES-MLG.png
{% endblock %}
{% block headerHREF2 %}
/analysis/series/E-Sports
{% endblock %}
{% block header2 %}
/media/analysis/headerPhotos/ES-MakeAnESport.png
{% endblock %}
{% block headerHREF3 %}
http://www.twitch.com
{% endblock %}
{% block header3 %}
/media/analysis/headerPhotos/ES-Twitch.png
{% endblock %}

{% block title %}
<a href="/analysis/series/{{ analysis.series.url }}"><i>E-sports:</i></a> <strong>Coaches</strong>
{% endblock %}

{% block analysis %}
<div class='col-xs-12 Introduction'>
	<h4><b>Introduction</b></h4>
	<p>
		At the beginning of e-sports, friends got together, put in the effort and crushed their opponents at community run events. Now, with e-sports growing and having not just tournaments but full-fledged league, it no longer suffices to just be a group of friends with a passion.
	</p>
	<p>
		Improvement at the top levels falls away from understanding the game and becomes about perfecting what you already know. For this, a coach is needed.
	</p>
	<p style="float: left;">
  	<img class="media-object" src='/media/analysis/ESports/ES-Coaches.png' width="400" height="250" style="padding-right: 10px; padding-bottom: 10px;">
  </p>
	<h4><b>The Role</b></h4>
	<p>
		Coaches exist to notice what their players do not, and to provide them with direction for how to improve. The outside perspective is not biased by what the player thinks they know, and therefore do not need to work on. Instead, the coach is able to provide stats and objective proof of the player's abilities.
	</p>
	<p>
		Additionally, the coach provides a middleman between the players. It is naive to expect all teams to get along at all times, but it important that morale remains high. Tilting can be a real threat to players at all level, and a significant amount of morale comes from those who are closest. As such, it falls to the coach to assist the players in how they deal with each other, and any other issues they might face.
	</p>
	<h4><b>Failures</b></h4>
	<p>
		On top of all their day-to-day responsibilities, one of the most important role a coach can provide is to be a lodestone for the team's failures. To maintain morale, reduce tension between players, and recover from losses, the coach is there to take the blame for team failures.
	</p>
	<p>
		It is an often overlooked aspect that coaches are the ones leading the team; being the compass the team must follow to accomplish their goals. However, by being the one leading, they allow the players to place blame upon themselves. While this may seem a trivial adjustment to blaming teammates, the focal point for blame provides a common 'enemy' around which the players can unite around.
	</p>
	<p style="float: right;">
  	<img class="media-object" src='/media/analysis/ESports/ES-TimeOut.png' width="200" height="200" style="padding-left: 10px; padding-bottom: 10px;">
  </p>
	<h4><b>In-Game</b></h4>
	<p>
		While the game is going on, a coach's role is very limited. It is up to the players the apply what they have learned to achieve victory. Traditionally, the coach may calls what 'play' the team is to run (Football, Baseball, ...), or when a time-out is to be called to provide the players a break or to slow the enemy team's momentum. However, almost no e-sports provide an equivalent method for the coaches to impact the game.
	</p>
	<p>
		Personally, I believe more e-sports should include time-outs as an option for the coach to call. The brief pause in game-play can make a large difference and truly help teams to recover from disadvantageous positions.
	</p>
	<h4><b>Conclusion</b></h4>
	<p>
		Coaches exist to provide direction, analysis, and to be a leader for the team. They are charged with making the difference at the highest levels of competition. They push players from good to great, provide insight to the small imperfections in the game-play of their team and should not be undervalued.
	</p>
	<p>
		For any e-sport to be advance to the next level, and for e-sports as a whole to become a more widely recognized for of competition, I firmly believe that the true value of a good coach must be recognized.
	</p>
</div>
{% endblock %}