{% extends 'analysis/AnalysisSkin.html' %}

{% block headerHREF1 %}
http://www.majorleaguegaming.com
{% endblock %}
{% block header1 %}
/media/analysis/headerPhotos/ES-MLG.png
{% endblock %}
{% block headerHREF2 %}
/analysis/series/E-Sports
{% endblock %}
{% block header2 %}
/media/analysis/headerPhotos/ES-MakeAnESport.png
{% endblock %}
{% block headerHREF3 %}
http://www.twitch.com
{% endblock %}
{% block header3 %}
/media/analysis/headerPhotos/ES-Twitch.png
{% endblock %}

{% block title %}
<a href="/analysis/series/{{ analysis.series.url }}"><i>E-sports:</i></a> <strong>Making an E-sport</strong>
{% endblock %}

{% block analysis %}
<div class='col-xs-12 Introduction'>
	<h4><b>Introduction</b></h4>
	<p>
		E-sports are a growing phenomenon wherein teams or individual players compete against each other in a video game for triumph. Similarly to traditional sports, e-sports are a heavily spectated acitivity and many organisations have grown around various games. But at the center of all this is the games, and what makes a particular video game better suited than another at being viable as an e-sport?
	</p>
</div>
<div class='col-xs-12 Spectating'>
	<p style="float: left;">
  	<img class="media-object" src='/media/analysis/ESports/ES-RocketLeague.png' width="500" height="300" style="padding-right: 10px; padding-bottom: 10px;">
  </p>
	<h4><b>Spectating</b></h4>
	<p>
		At the center of all spectator sports, and even more so in e-sports, is how the game is spectated. Traditionally, you take a camera and follow the focal point of the game (ball, puck, etc) and zoom out when you need to provide additional context for the viewers. For e-sports, it is not always so simple. Often times, there are seperate elements combining to create the overall context of the game that cannot be easily or comfortable viewed all at once.
	</p>
	<p>
		For example, in <a href="http://www.leagueoflegends.com" target="_blank">League of Legends</a>, you have the three lanes (top, middle, bottom) each containing a battle throughout the first portion of the game. This is reasonably easy to follow, as while the teams are split into the lanes there is minimal drastic elements taking play. This is an example of a positive spectating experience. You can follow the context of the game despite the serparate elements taking place far away from each other.
	</p>
	<p>
		On the other hand, there are some that can be more difficult to view as a whole. <a href="http://www.rocketleaguegame.com/" target="_blank">Rocket League</a> has a small space with a lot going on in a 3D plane. As such, it is very difficult to provide viewers with the full context of the game. I have been watching Rocket League many times when a player appears seemingly from random and scores. As a viewer, I find this to be a negative experience as I cannot fully appreciate what went in to making this play. All I see is the build-up to the game at the moment being ruined by a player I was completely unaware of.
	</p> 
	<p>
		There are ways around many of the camera based issues, primarily replays, but these fixes can take some time to implement and do not always go far enough back as you want. Additionally, often you cannot finish the replay in a high-paced game as there will be new live action occuring. As such, the game must be able to provide a reasonable system to view the game and provide the viewers with the full context of the game.
	</p>
</div>
<div class='col-xs-12 Prowess'>
	<p style="float: right;">
  	<img class="media-object" src='/media/analysis/ESports/ES-LeagueOfLegends_Gank.jpg' width="500" height="300" style="padding-right: 10px; padding-bottom: 10px;">
  </p>
	<h4><b>Prowess</b></h4>
	<p>
		Another large part of the spectating aspect of viewing any sort of competition is the amazement inspire by the prowess of the best of the best. You want to be amazed when watching, you want to see things that shouldn't be possible easily accomplished by those who have dedicated their lives to a single competition.
	</p>
	<p>
		This is where the skill ceiling of a game comes into play. If your game has a very low skill ceiling, both tactically and mechanically, you limit the amount of awe that can be caused the the pros. I want to see a star player completely out-play less mechanically gifted enemies an leave them dazed and dissapointed. I want to watch the crushed team memebers rally their teammates and coordinate an attack on the unsuspecting star player and crush them tactically. Spectators want that sense of 'if I practice, maybe I can do that'. There is a reason highlight reels exist of any and all difficult tasks, we want to see how good the best can be.
	</p>
	<p>
		By providing a simple game, tactically and/or mechanically, you lower the high viewers get from watching the best of the best. This is also why some games can take ages to become popular spectator games. If there is no <b>clear</b> reason to watch, it is often left to the passionate players to create the meta game and therefore the tactics involved in high level gameplay. As such, I have found that having interesting and rewarding mechanics can make games attract a larger number of supporters more quickly - the viewers already have something to be impressed by.
	</p>
</div>
<div class='col-xs-12 Engagement'>
	<p style="float: left;">
  	<img class="media-object" src='/media/analysis/ESports/ES-StarCraft.jpg' width="400" height="300" style="padding-right: 10px; padding-bottom: 10px;">
  </p>
	<h4><b>Engagement</b></h4>
	<p>
		Along with the amazement should also come inspiration. Viewers who are inspired to be as good as those they watch can are more likely to enjoy watching and watch more often than those who are not. If a player sees an amazing set of moves and wishes they could do that, you want them to be able to try. This is where the skill floor influences the fanbase.
	</p>
	<p>
		I, and I believe the majority of people, prefer to watch games that I understand. I find it much more enjoyable to watch League of Legends than StarCraft, as I find it much easier to follow the logic of the game and how a particular match is unfolding. A significant reason that I understand League better than StarCraft is simply how easy it was to start playing. There is SO much in StarCraft that when I do watch it, I am amazed at how much is going on and being done in a single moment. However, I find it difficult to want to improve due to how far behind the curve I am. I have been warned by friends to not play, as I would just get crushed over and over, since most current players have been playing so much longer than myself.
	</p>
	<p>
		In my opinion, a game is more enjoyable to watch when the I understand the rules of the game. By rules, I mean both the game-laws (physics and mechanics of a game) and the actual goal of the game (the win conditions). I also find it much easier to know the rules of video games through playing rather than explanation. In traditional sports, I know the phyiscal limitation of the game-world, it is the exact same of my everyday life. But, in video games, how am I to know what characters are able to jump a certain high or how damaging a certain weapon in? There is often too much that goes into video games for simple explanation to be enough, the viewers must be able to play to fully understand the game.
	</p>
</div>
<div class='col-xs-12 Conclusion'>
	<h4><b>Conclusion</b></h4>
	<p>
		E-Sports are built through their viewer base. As such, the game must be able to accomodate them and allow them to understand what they are watching. It is up to the game to provide and incorporate a reasonable viewing platform (in terms of camera-based context) and the means through which top-tier players can express their skill. At the bottom of it all, the game must be understood by the viewers. Without these three aspect, I believe games will have a very difficult time being accepted as a popular and support e-sport.
	</p>
</div>
{% endblock %}