{% extends 'analysis/AnalysisSkin.html' %}

{% block header1 %}
/media/games/AliceAndSchrodinger/screenCaps/ConversationDemo.png
{% endblock %}
{% block header2 %}
/media/games/AliceAndSchrodinger/screenCaps/UnlockedConversations.png
{% endblock %}
{% block header3 %}
/media/games/AliceAndSchrodinger/screenCaps/MainMenu.png
{% endblock %}

{% block title %}
<a href="/analysis/series/{{ analysis.series.url }}"><i>Post Mortem:</i></a> <strong>Alice And Schrodinger</strong>
{% endblock %}

{% block analysis %}
<div class='col-xs-12 overview'>
	<h4><b>Overview</b></h4>
	<p>

	</p>
</div>
<div class='col-xs-12 summary'>
	<h4><b>Summary</b></h4>
	<ul>
		<li></li>
	</ul>
</div>
<div class='col-xs-12 intentions'>
	<h4><b>Intentions</b></h4>
	<p>
		
	</p>
</div>
<div class="col-xs-12 U.I.">
	<h4 class="media-heading"><b>U.I.</b></h4>
	<p>
		
	</p>
</div>
<div class="col-xs-12 Flow">
	<h4 class="media-heading"><b>Flow</b></h4>
	<p>
		
	</p>
</div>
<div class='col-xs-12 Conclusion'>
	<h4><b>Conclusion</b></h4>
	<p>
		
	</p>
</div>
{% endblock %}