{% extends 'analysis/AnalysisSkin.html' %}

{% block style %}
.arrow{
	background-color: #000000;
	opacity: 0.7;
	height: 30px;
	width: 30px;
	text-align: center;
	border-radius: 50%;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.arrow:hover{
	background-color: #FFFFFF;
}
{% endblock %}

{% block headerHREF1 %}
/games/AliceAndSchrodinger
{% endblock %}
{% block header1 %}
/media/games/AliceAndSchrodinger/screenCaps/ConversationDemo.png
{% endblock %}
{% block headerHREF2 %}
/games/AliceAndSchrodinger
{% endblock %}
{% block header2 %}
/media/games/AliceAndSchrodinger/screenCaps/UnlockedConversations.png
{% endblock %}
{% block headerHREF3 %}
/games/AliceAndSchrodinger
{% endblock %}
{% block header3 %}
/media/games/AliceAndSchrodinger/screenCaps/MainMenu.png
{% endblock %}

{% block title %}
<a href="/analysis/series/{{ analysis.series.url }}"><i>Post Mortem:</i></a> <a href='/games/{{ analysis.game.htmlFile }}'><strong>Alice And Schrodinger</strong></a>
{% endblock %}

{% block analysis %}
<div class='col-xs-12 overview'>
	<h4><b>Overview</b></h4>
	<p>
		This app was designed to be a self-guided tour of the Quantum Nano Center on campus at the University of Waterloo. The app works with a combination of iBeacons and NFC chips to guide the participant through the building and unlock the pieces of information spread out within the building. The information was provided by an external source, we simply provided a usable app to integrate and present it.
	</p>
</div>
<div class='col-xs-12 summary'>
	<h4><b>Summary</b></h4>
	<ul>
		<li><b>Visuals</b> have a massive impact on how <b>enjoyable</b> a game can be</li>
		<li>Relevant information should <b>always</b> be accessible when required</li>
		<li><b>Communication</b> is <b>key</b></li>
		<li>Ensure the user feels <b>engaged</b></li>
	</ul>
</div>
<div class='col-xs-12 intentions'>
	<h4><b>Intentions</b></h4>
	<p>
		We wanted this app to be very simple to used, with the focus being primarily on the information being presented and having the users explore the building. All options, and the navigation between all available screens, had to be as clear as possible to reduce any frustration with the app itself. This application was acting purely as an interface for the users to learn about the building and the goings on within.
	</p>
</div>
<div class="col-xs-12 U.I.">
	<h4 class="media-heading"><b>U.I.</b></h4>
	<p>
		The U.I. for this app was very simple and straight forward. Unfortunately, it also appears very bland as we were unable to have an artist provide us with art for the U.I. and had to use the default available in Unity. Additionally, due to the lack of time available to complete the app, we had limited time to polish the end result.
	</p>
	<p>
		From the limited artistic talent invested in this app, I have learn that visual aesthetics play a vital role in user experience. Having an app appeal to someone's senses makes it much more enjoyable to use. As such, I believe this app would have been much more successful/enjoyable if we had a more visually appearing interface.
	</p>
</div>
<div class="col-xs-12 Information">
	<p style="float: left;">
  	<img class="media-object" src='/media/games/AliceAndSchrodinger/screenCaps/ExtraInfo.png' width="400" height="200" style="padding-right: 10px; padding-bottom: 10px;">
  </p>
  <h4 class="media-heading"><b>Information</b></h4>
	<p>
		As this app was centered around providing information to the users, we had to ensure the correct information was provided. This was a difficult prospect at first as the information was created by a separate group who were unfamiliar with Unity. Therefore, to get around the issue of porting all of the scripts for the characters and various NFC chip identities, I created a parser to port their information from Google Docs to the appropriate XML file. This ended up saving us a large portion of work, and made the crossover between their work and ours much smoother.
	</p>
	<p>
		The other aspect of the information was allowing the users to elaborate of certain elements should they wish. To accomplish this, the content creators added in links to additional resources, or prompted the users with question that could pique their interest in the topic at hand. We did not want the participants to feel pressured to complete the tour and unlock all data, so we also provided them with the option to unlock the data manually, should they choose to have the data available once they left the open house.
	</p>
</div>
<div class='col-xs-12 Conclusion'>
	<h4><b>Conclusion</b></h4>
	<ul>
		<li>U.I. is integral to the user experience, and having aesthetically pleasing visuals can make or break an application.</li>
		<li>Working with separate groups can be a rough endeavor and working to smooth the crossover can make the collaboration much more efficient</li>
		<li>No matter the app, the user should feel engaged</li>
	</ul>
</div>
<div class='col-xs-12 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3' style="height: 300px; text-align: center">
	<img class="slide" src="/media/games/AliceAndSchrodinger/screenCaps/AliceAndSchrodinger.png" style="width: 100%; height: 100%; display: none;">
	<img class="slide" src="/media/games/AliceAndSchrodinger/screenCaps/Map.png" style="width: 100%; height: 100%; display: none;">
	<img class="slide" src="/media/games/AliceAndSchrodinger/screenCaps/LockedConversations.png" style="width: 100%; height: 100%; display: none;">
	<img class="slide" src="/media/games/AliceAndSchrodinger/screenCaps/Settings.png" style="width: 100%; height: 100%; display: none;">
	<img class="slide" src="/media/games/AliceAndSchrodinger/screenCaps/UnlockedConversations.png" style="width: 100%; height: 100%; display: none;">
	<img class="slide" src="/media/games/AliceAndSchrodinger/screenCaps/ExtraInfo.png" style="width: 100%; height: 100%; display: block;">
	<div class='arrow' style="float: left; position: relative; left: 0px; top: -155px; font-size: 20px;"><a onclick="plusDivs_slides(-1)"><b>❮</b></a></div>
	<div class='arrow' style="float: right; position: relative; right: 0px; top: -155px; font-size: 20px;"><a onclick="plusDivs_slides(+1)"><b>❯</b></a></div>
</div>
{% endblock %}

{% block script %}
<script>
var slideIndex = 1;
showDivs_slides(slideIndex);

function plusDivs_slides(n) {
  showDivs_slides(slideIndex += n);
}

function showDivs_slides(n) {
  var i;
  var x = document.getElementsByClassName("slide");
  if (n > x.length) {slideIndex = 1} 
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none"; 
  }
  x[slideIndex-1].style.display = "block"; 
}
</script>
{% endblock %}