{% extends 'analysis/AnalysisSkin.html' %}

{% block header1 %}
/media/games/AliceAndSchrodinger/screenCaps/ConversationDemo.png
{% endblock %}
{% block header2 %}
/media/games/AliceAndSchrodinger/screenCaps/UnlockedConversations.png
{% endblock %}
{% block header3 %}
/media/games/AliceAndSchrodinger/screenCaps/MainMenu.png
{% endblock %}

{% block title %}
<a href="/analysis/series/{{ analysis.series.url }}"><i>Post Mortem:</i></a> <strong>Alice And Schrodinger</strong>{% endblock %}

{% block analysis %}
	<img src='/static/img/jaggerNast2.jpg' rotate="90deg" width="200" height="200" alt="Tim Nast" style='float: left; padding-right: 10px; padding-bottom: 10px;'>
	<p>
		Details
	</p>
{% endblock %}