{% extends 'analysis/AnalysisSkin.html' %}

{% block header1 %}
/media/games/QuantumCats/screenCaps/SuperPosition_abilityStart.png
{% endblock %}
{% block header2 %}
/media/games/QuantumCats/screenCaps/StartPage.png
{% endblock %}
{% block header3 %}
/media/games/QuantumCats/screenCaps/Tunneling_abilityStart.png
{% endblock %}

{% block title %}
<a href="/analysis/series/{{ analysis.series.url }}"><i>Post Mortem:</i></a> <strong>Quantum Cats</strong>
{% endblock %}

{% block analysis %}
	<img src='/static/img/jaggerNast2.jpg' rotate="90deg" width="200" height="200" alt="Tim Nast" style='float: left; padding-right: 10px; padding-bottom: 10px;'>
	<p>
		Details!
	</p>
{% endblock %}