{% extends 'analysis/AnalysisSkin.html' %}

{% block header1 %}
/media/games/QuantumCats/screenCaps/SuperPosition_abilityStart.png
{% endblock %}
{% block header2 %}
/media/games/QuantumCats/screenCaps/StartPage.png
{% endblock %}
{% block header3 %}
/media/games/QuantumCats/screenCaps/Tunneling_abilityStart.png
{% endblock %}

{% block title %}
<a href="/analysis/series/{{ analysis.series.url }}"><i>Post Mortem:</i></a> <strong>Quantum Cats</strong>
{% endblock %}

{% block analysis %}
<div class='col-xs-12 overview'>
	<h4><b>Overview</b></h4>
	<p>
		This game was designed to pique the interest of those taking part in an open house of the Quantum Nano Center on the campus of the University of Waterloo. We were hoping to provide a brief introduction into some better known concepts on Quantum Mechanics and provide an interactive method to learn a bit about them. The game was supposed to be short, so that all concepts would be covered by each participant and as many people as possible would be have a chance to play durin the event.
	</p>
</div>
<div class='col-xs-12 summary'>
	<h4><b>Summary</b></h4>
	<ul>
		<li>Time spent <b>learning</b> can reduce the total time spent <b>playing</b></li>
		<li><b>Intuition</b> can have a strong impact on quality <b>understanding</b></li>
		<li>Each <b>level</b> should have a specific <b>goal</b> for completion</li>
		<li>Real world physics does not always translate into <b>enjoyable</b> game play</li>
	</ul>
</div>
<div class='col-xs-12 intentions'>
	<h4><b>Intentions</b></h4>
	<p>
		We wanted the game to be visually appealing, to draw in the open house guests, and mechanically simplistic to minimize the time spent learning how to play (allowing more participants an opportunity to play). Additionally, the quantum mechanics concepts had to be detailed enough to offer some degree of understanding while maintaining a functioning and engaging gameplay mechanic.
	</p>
</div>
<div class="col-xs-12 Intuition">
	<h4 class="media-heading"><b>Intuition</b></h4>
	<p>
		To allow people to quickly start playing, and to remove the need for any 'tutorial' levels. This was due to production time constraints, and also the desire for people to be able to easily start playing with minimal time spent learning. It was also desireable to have the outcome of the cat colliding with the obstacles to make sense and for the player to have a sense of understanding regarding what would happen.
	</p>
	<p>
		A large portion of emphasising the natural nature of the game's physics was the launcher, how it looked, and how it behaved. We went through several iterations, but opted to use one that behaved and appeared similar to a slingshot. This allowed us to piggy-back off of the prestablished understanding of other popular games such as Angry Birds.
	</p>
	<p>
		The other intuitive aspect we called upon was the assumption of how objects would behave when struck with a cat. I.e., lighter objects break more easlily and darker objects are sturdier. This aspect was also used with the Liquid Nitrogen object and the visual indicator for frozen objects.
	</p>
</div>
<div class="col-xs-12 LevelDesign">
	<h4 class="media-heading"><b>Level Design</b></h4>
	<p>
		Levels had to be difficult enough to warrant firing multiple cats, hopefully causing a better understanding of what each one's power was and how it could be used, while being simple enough to not take too many attempts. As such, levels tended to employ either a domino-effect to take out multiple towers at once, or a pre-set pattern that, when noticed, could collapse multiple towers at once.
	</p>
	<p>
		For the levels centered around a specific cat, we did not want the level to be able to be completed without using the power of the level's cat. This was done to keep the emphasis on the cats and their quantum mechanical properties. For example, the Tunneling Cat's level used various thin walls and wide towers to allow the building to collapse when the cat hit the inner wall rather than the outer.
	</p>
	<p>
		Since we essentially made it necessary to use the various cat abilities, it was important to have them feel enjoyable to use. If we forced players to use unenjoyable mechanics, they stop being a fun addition to the game and become a reason to stop playing.
	</p>
</div>
<div class="col-xs-12 CatAbilities">
	<h4 class="media-heading"><b>Cat Abilities</b></h4>
	<p>
		Before finalizing the quantum abilities we gave each of the cats, we prototyped many additional possibilities. For each prototype, we had to consider how the ability would work in such a way that it would be fun, engaging, and provide a reasonable representation of the quantum phenomenon. On top of this, we tried to choose properties that would be easily understood given limited exposure and explanation.
	</p>
	<p>
		As a result, we ended with Superposition, Quantum Tunneling, and theUnvertainty Principal as the quantum mechanics assigned to each cat (along with a classical physics cat). Superposition and quantum tunneling worked well as an in-game mechanic that appropriately exemplified that true quantum property. The uncertainty principal however did not transfer over well, as it is an inherently random quality, and randomness can be frustrating when used to hit a specific target in a game. To combat this, we ended up limiting the randomness and making it feel more engaging with a visual targeting indicator to help the player feel more engaged in the selection. 
	</p>
</div>
<div class='col-xs-12 Conclusion'>
	<h4><b>Conclusion</b></h4>
	<ul>
		<li>Intuition can be a very strong tool to use and rely on when explaining game mechanics</li>
		<li>To emphasize a certain aspect of the game, one can make it mandatory to use in order to beat a level</li>
		<li>Enjoyable gameplay often goes against 100% realism</li>
		<li>Levels should not draw focus away from the main goal of a game</li>
	</ul>
</div>
{% endblock %}