{% extends 'analysis/AnalysisSkin.html' %}

{% block header1 %}
/media/games/SkyPirates/screenCaps/IslandDestroyed.png
{% endblock %}
{% block header2 %}
/media/games/SkyPirates/screenCaps/SkyPirates.png
{% endblock %}
{% block header3 %}
/media/games/SkyPirates/screenCaps/Turret.png
{% endblock %}

{% block title %}
<a href="/analysis/series/{{ analysis.series.url }}"><i>Post Mortem:</i></a> <strong>Sky Pirates</strong>
{% endblock %}

{% block analysis %}
<div class='col-xs-12 overview'>
	<h4><b>Overview</b></h4>
	<p>

	</p>
</div>
<div class='col-xs-12 summary'>
	<h4><b>Summary</b></h4>
	<ul>
		<li></li>
	</ul>
</div>
<div class='col-xs-12 intentions'>
	<h4><b>Intentions</b></h4>
	<p>
		
	</p>
</div>
<div class="col-xs-12 A.I.">
	<h4 class="media-heading"><b>A.I.</b></h4>
	<p>
		
	</p>
</div>
<div class="col-xs-12 Controls">
	<h4 class="media-heading"><b>Controls</b></h4>
	<p>
		
	</p>
</div>
<div class='col-xs-12 Conclusion'>
	<h4><b>Conclusion</b></h4>
	<p>
		
	</p>
</div>
{% endblock %}