{% extends 'analysis/AnalysisSkin.html' %}

{% block header-image %}
<div id="bannerLeft" style="height: 300px; padding: 0px;">
	<img class="col-xs-4" src="/media/games/SisyphusEscape/screenCaps/surrounded_c.png" style="padding: 0px; height: 100%;"/>
	<img class="col-xs-4" src="/media/games/SisyphusEscape/screenCaps/SisyphusEscape.png" style="padding: 0px; height: 100%;"/>
	<img class="col-xs-4" src="/media/games/SisyphusEscape/screenCaps/hiding_c.png" style="padding: 0px; height: 100%;"/>
</div>
{% endblock %}

{% block title %}
<i>Post Mortem:</i> <strong>The Escape of Sisyphus</strong>
{% endblock %}

{% block analysis %}
	<img src='/static/img/tim-face.jpeg' rotate="90deg" width="200" height="200" alt="Tim Nast" style='float: left; padding-right: 10px; padding-bottom: 10px;'>
	<p>
		Details
	</p>
{% endblock %}