{% extends 'series/series.html' %}

{% block headerHREF1 %}
http://www.majorleaguegaming.com
{% endblock %}
{% block header1 %}
/media/analysis/headerPhotos/ES-MLG.png
{% endblock %}
{% block headerHREF2 %}
/analysis/series/E-Sports
{% endblock %}
{% block header2 %}
/media/analysis/headerPhotos/ES-MakeAnESport.png
{% endblock %}
{% block headerHREF3 %}
http://www.twitch.com
{% endblock %}
{% block header3 %}
/media/analysis/headerPhotos/ES-Twitch.png
{% endblock %}

{% block series %}
<p>
	In this series I will provide my opnion and insight into the world of eSports. I will discuss what makes a game a viable option for becoming an eSport, and what steps should be taken to make certain games, and eSports in general, a more serious competition.
</p>
<p>
	The analysis within this series will be my own personal opinion, formulated from being a long time spectator, high ranking player in various games, and long time varisty athlete. I believe I have valuable insight from my time as a competetive athele and wish to discuss my thoughts and opinions with those who are interested.
</p>
{% endblock %}