{% extends 'series/series.html' %}

{% block series %}
<p>
	This series will cover all games that I have had a hand in developing. The analysis will focus on the design/development process and how I feel about the final product. I talk about various key design decisions, why the path we took was chosen and alternatives we could have gone with. This will apply to both the aesthetic feel of the game as well as the coding that went into how the game mechanics.
</p>
<p>
	The analysis within this series are also the place to <b>leave comments</b> you may have about the respective games, wether they are criticisms about the game or perhaps requests for expansions/improvements you may like the be implemented.
</p>
{% endblock %}