{% extends 'series/series.html' %}

{% block series %}
<img src='/static/img/tim-face.jpeg' rotate="90deg" width="200" height="200" alt="Tim Nast" style='float: left; padding-right: 10px; padding-bottom: 10px;'>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at nibh malesuada, tincidunt sapien in, accumsan neque. Cras ultrices quam sed quam facilisis, at lobortis justo ultrices. Aenean interdum vel turpis nec tincidunt. Donec interdum eget mauris ac auctor. Fusce at lacinia odio, vel imperdiet arcu. Nam porttitor nibh quis justo viverra fringilla. Aliquam pharetra pharetra velit, et vulputate est ultricies sit amet. Quisque commodo tincidunt lobortis. Nam tristique purus a nunc semper, eu molestie est tristique. Phasellus at lorem tempus, venenatis ipsum nec, accumsan neque. Sed aliquam non est sit amet dignissim. In vel mollis purus. Vivamus vitae lorem diam. Praesent tempor eleifend fermentum. Proin dapibus nibh eget dolor laoreet, nec sodales tortor condimentum.
</p>
{% endblock %}